
<ngb-carousel>	
	<ng-template ngbSlide>		
	<div class="banner-slide">		
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">Action 3+1!</div>
					<div class="text text-cut-5">
						<p>Order four pizzas and get one free!
							<br>							
							*the promotion is valid from Friday to Sunday
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						
						<span>Order</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[2]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
		<button type="button" class="carousel-control-prev">
			
			<div aria-hidden="true" class="carousel-control-prev-icon">
				
			</div>
			
			<span class="visually-hidden">Previous</span>
		</button>
	</ng-template>
	<ng-template ngbSlide>
		<div class="banner-slide">
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">Action 2+1!</div>
					<div class="text text-cut-5">
						<p>Order 3 pizzas and get one free!
							<br>
							*the promotion is valid from Monday to Thursday
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						<span>Order</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[1]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
		<button type="button" class="carousel-control-prev">			
			<div aria-hidden="true" class="carousel-control-prev-icon">				
			</div>			
			<span class="visually-hidden">Previous</span>
		</button>
	</ng-template>		
	<ng-template ngbSlide>
		<div class="banner-slide">
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">-15% for pickup!</div>
					<div class="text text-cut-5">
						<p>Pick up your order yourself from our pizzerias and get a 15% discount!							
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						<span>Order</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[0]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
		<button type="button" class="carousel-control-prev">			
			<div aria-hidden="true" class="carousel-control-prev-icon">				
			</div>			
			<span class="visually-hidden">Previous</span>
		</button>
	</ng-template>		
	<ng-template ngbSlide>
		<div class="banner-slide">
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">The average delivery time is 29 minutes!</div>
					<div class="text text-cut-5">
						<p>*up to 59 min
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						<span>Order</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[3]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
		<button type="button" class="carousel-control-prev">			
			<div aria-hidden="true" class="carousel-control-prev-icon">				
			</div>			
			<span class="visually-hidden">Previous</span>
		</button>
	</ng-template>		
		
</ngb-carousel>
