

  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8 col-xxl-6"> 
      <form [formGroup]="authForm" class="form" (ngSubmit)="updatePassword()">
        <div class="form-group ">        
          <div class="row">
            <input formControlName="password" type="password" class="input" name="password" id="password" placeholder="*Your current password" required>
            
            <mat-error *ngIf="checkVisibilityError('password', 'invalidPassword')">The current password is invalid</mat-error>
            <mat-error *ngIf="checkVisibilityError('password', 'matchError')">Error: The current password is invalid</mat-error>
          </div>
          <div class="row justify-content-between">
            <div class="col-md-6 input-group-left">
              <input (input)="checkConfirmPassword()" formControlName="newPassword" type="password" class="input" name="newPassword" id="newPassword" placeholder="*New password" required>
            </div>
            <div class="col-md-6 input-group-right">
              <input (input)="checkConfirmPassword()" formControlName="confirmPassword" type="password" class="input" name="confirmPassword" id="confirmPassword" placeholder="*Repeat the password" required>              
              <mat-error *ngIf="checkVisibilityError('confirmPassword', 'sameAsOldError')">The new password must not be the same as the old one</mat-error>            
              <mat-error *ngIf="checkVisibilityError('confirmPassword', 'matchError')">Confirmed password is required</mat-error>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="authForm.invalid">Save changes</button>
          </div>
        </div>
      </form>
     
      <!-- <div>
        <p>password: {{ authForm.controls['password'].errors | json }}</p>
        <p>newPassword: {{ authForm.controls['newPassword'].errors | json }}</p>
        <p>confirmPassword: {{ authForm.controls['confirmPassword'].errors | json }}</p>
      </div> -->
    </div>
  </div>
  
  
  
  
  
