
<div class="section">
    <div class="container">
      <div class="benefits-wrapper b-shadow">
        <img class="decor-img left rellax" data-rellax-speed="-1" src="assets/decor/decor-6.svg" alt="" style="transform: translate3d(0px, 55px, 0px);">
        <div class="row benefits-row hide-on-mobile justify-content-center ">
          <div class="col-xl-3 col-md-6">
            <div class="benefits-item">
              <div class="benefits-img">
                <img src="assets/benefits/benefits-1.svg" alt="">
              </div>
              <div class="title h5">
                Italian products of the highest quality
              </div>
              <div class="benefits-info">
                MA Pizza imports products of top European brands
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="benefits-item ">
                <div class="benefits-img">
                <img src="assets/benefits/benefits-2.svg" alt="">
              </div>
              <div class="title h5">
                Incredible taste and crispy crust
                </div>
                <div class="benefits-info">
                  MA Pizza makes pizza dough only with Italian Caputo flour
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="benefits-item">
                <div class="benefits-img">
                  <img src="assets/benefits/benefits-3.svg" alt="">
                </div>
                <div class="title h5">
                  Professional chefs and pizzaioli are masters of their craft
                </div>
                <div class="benefits-info">
                  MA Pizza has the best workers! We cheer for the development of every employee!
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="benefits-item">
                <div class="benefits-img">
                  <img src="assets/benefits/benefits-4.svg" alt="">
                </div>
                <div class="title h5">
                  Free and fast delivery to any corner of Vienna
                </div>
                <div class="benefits-info">
                  The average delivery time is 29 minutes.
                </div>
              </div>
            </div>
        </div>

        
	        
            <div class="swiper-entry hide-on-desktop">              
              <div class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight" data-options="{&quot;slidesPerView&quot;:1, &quot;spaceBetween&quot;:12, &quot;autoHeight&quot;:true, &quot;loop&quot;:true}">
                <div class="swiper-wrapper" id="swiper-wrapper-3c088ca06f1c10a2f" aria-live="polite" style="transition-duration: 0ms;  ">
              <ngb-carousel>	                
                <ng-template ngbSlide>  
                  <div class="swiper-slide banner-slide" data-swiper-slide-index="0" >
                    <div class="benefits-item banner-content">
                      <div class="benefits-img">
                        <img src="assets/benefits/benefits-1.svg" alt="">
                      </div>
                      <div class="title h5">
                        Italian products of the highest quality
                      </div>
                      <div class="benefits-info">
                        MA Pizza imports products of top European brands
                        </div>
                      </div>
                  </div>
                  <button type="button" class="carousel-control-prev">
			              <span aria-hidden="true" class="carousel-control-prev-icon">
			              </span>			
			              <span class="visually-hidden">Previous</span>
		              </button>
                </ng-template>  
                <ng-template ngbSlide>     
                    <div class="swiper-slide banner-slide" data-swiper-slide-index="1" >
                      <div class="benefits-item banner-content">
                        <div class="benefits-img">
                          <img src="assets/benefits/benefits-2.svg" alt="">
                        </div>
                        <div class="title h5">
                          Incredible taste and crispy crust
                        </div>
                        <div class="benefits-info">
                          MA Pizza makes pizza dough only with Italian Caputo flour
                        </div>
                      </div>
                    </div>
                    <button type="button" class="carousel-control-prev">
			              <span aria-hidden="true" class="carousel-control-prev-icon">
			              </span>			
			              <span class="visually-hidden">Previous</span>
		              </button>
                </ng-template>  

                
                <ng-template ngbSlide> 
                    <div class="swiper-slide banner-slide" data-swiper-slide-index="2" >
                      <div class="benefits-item banner-content">
                        <div class="benefits-img">
                          <img src="assets/benefits/benefits-3.svg" alt="">
                        </div>
                        <div class="title h5">
                          Professional chefs and pizzaioli are masters of their craft
                        </div>
                        <div class="benefits-info">
                          MA Pizza has the best workers! We cheer for the development of every employee!
                        </div>
                      </div>
                    </div>
                      <button type="button" class="carousel-control-prev">
			                  <span aria-hidden="true" class="carousel-control-prev-icon">
			                  </span>			
			                  <span class="visually-hidden">Previous</span>
		                  </button>
                </ng-template> 
                <ng-template ngbSlide>
                    <div class="swiper-slide banner-slide" data-swiper-slide-index="3" >
                      <div class="benefits-item banner-content">
                        <div class="benefits-img">
                          <img src="assets/benefits/benefits-4.svg" alt="">
                        </div>
                        <div class="title h5">
                          Free and fast delivery to any corner of Vienna
                        </div>
                        <div class="benefits-info">
                          The average delivery time is 29 minutes.
                        </div>
                      </div>
                    </div>
                    <button type="button" class="carousel-control-prev">
			                <span aria-hidden="true" class="carousel-control-prev-icon">
			                </span>			
			                <span class="visually-hidden">Previous</span>
		                </button>
                </ng-template>                 
              </ngb-carousel>          
              </div>
              
            </div>
            </div>
      </div>  

      <div class="spacer-lg"></div>
  </div>        

</div>