<div class="section contacts-section">
  <div class="spacer-sm"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <div class="contacts-block b-shadow">
          <img class="decor-img" src="assets/decor/decor-7.svg" alt="" style="top: -90px; left : -110px;">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-4 pe-xl-0 align-self-center">
              <div class="contacts-wrapper">
                <div class="contact-item">
                  <div class="caption title h5">
                    Contacts
                  </div>
                  <div class="contact-link">
                    <div class="contact-link-img">
                      <img src="assets/icons/icon-phone.svg" alt="">
                    </div>
                    <div class="contact-link-info">
                      <a href="tel:phone">{{ phone }}</a>
                    </div>
                  </div>
                  <div class="contact-link">
                    <div class="contact-link-img">
                      <img src="assets/icons/icon-mail.svg" alt="">
                    </div>
                    <div class="contact-link-info">
                      <a [href]= 'mailto'> {{ email }}</a>
                    </div>
                  </div>
                </div>
                <div class="contact-item">
                  <div class="caption title h5">
                    Work schedule
                  </div>
                  <div class="contact-link">
                    <div class="contact-link-img">
                      <img src="assets/icons/icon-calendar.svg" alt="">
                    </div>
                    <div class="contact-link-info">
                      <p *ngIf="isAbout">We work every day without days off from <strong>10:00</strong> to <strong>22:30</strong></p>
                      <p *ngIf="!isAbout">{{ workTime}}</p>
                    </div>
                  </div>
                </div>
                <div class="contact-item" *ngIf="!isSocial">
                  <div class="caption title h5">
                    Social networks
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://www.facebook.com/pizza.mammaitaliana">
                        <img src="assets/icons/i-facebook.svg" alt="assets/icons/i-facebook.svg">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/p/B-rLrPnp284/?utm_source=ig_web_copy_link">
                        <img src="assets/icons/i-instagram.svg" alt="assets/icons/i-instagram.svg">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/watch?v=EkfysYf80Ak">
                        <img src="assets/icons/i-you-tube.svg" alt="assets/icons/i-you-tube.svg">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-8 ps-xl-0">
              <div class="faq-form">
                <div class="h2 title title-decor">
                  {{ caption }}
                </div>
                <div class="wpcf7 js" id="wpcf7-f505-o1" lang="uk" dir="ltr">
                  <div class="screen-reader-response">
                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                    <ul>

                    </ul>
                  </div>
                  <form [formGroup]="massageForm" (ngSubmit)="addMassage()"  class="wpcf7-form init" aria-label="Contact form" >
                    
                    <div class="row">
                      <div class="col-md-6">
                        <p>
                          <span class="wpcf7-form-control-wrap">
                            <input formControlName="name" name="name" size="40" class="input" [class.input-empty]="massageForm.invalid && isValid"  placeholder="*Name" value="" type="text" required="">
                            <ng-container *ngIf="massageForm.invalid && isValid">
                              <span class="not-valid-tip">The field is mandatory. </span>
                            </ng-container>
                          </span>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <span class="wpcf7-form-control-wrap">
                            <input formControlName="phone" name="phone" size="40" class="input inputmask" [class.input-empty]="massageForm.invalid && isValid" placeholder="*Enter a phone number" value="" data-inputmask="'mask': '+43 (999) 999 99 99'" data-inputmask-placeholder="x" type="tel" inputmode="text" required="">                            
                            <ng-container *ngIf="massageForm.invalid && isValid">
                              <span class="not-valid-tip">The field is mandatory. </span>
                            </ng-container>
                          </span>
                        </p>
                      </div>
                    </div>
                    <p>
                      <span class="wpcf7-form-control-wrap">
                        <input formControlName="email" size="40" class="input" [class.input-empty]="massageForm.invalid && isValid" placeholder="*Email" value="" type="email" name="email" required="">
                        <ng-container *ngIf="massageForm.invalid && isValid">
                              <span class="not-valid-tip">The field is mandatory. </span>
                        </ng-container>
                      </span>
                      <br>
                      <span class="wpcf7-form-control-wrap">
                        <textarea formControlName="description" cols="40" rows="10" class="input" [placeholder]='placeholderDescription' name="description">

                        </textarea>
                      </span>
                    </p>
                    <div class="faq-btn-wrapper">
                      <div class="upload-wrapper" data-placeholder="No file selected">
                        

                        <div class="upload">
                          <div class="file-name" *ngIf="isUploaded">
                          <p>
                            <span> {{isUploaded ? file?.name : ''}}</span>
                          </p>
                        </div>
                        <ng-container *ngIf="!isUploaded">
                        <label for="formFile" class="form-label">Attach a file                          
                        </label>
                        <input class="file-name" type="file" id="formFile" accept=".pdf,.xlsx,.xls,.doc,.docx" (change)="upload($event)">
                        </ng-container>
                        <p>
                          <svg class="upload-icon" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.8666 9.20835L10.2082 16.8667C9.27005 17.8049 7.99757 18.332 6.67075 18.332C5.34393 18.332 4.07145 17.8049 3.13325 16.8667C2.19505 15.9285 1.66797 14.656 1.66797 13.3292C1.66797 12.0024 2.19505 10.7299 3.13325 9.79168L10.7916 2.13335C11.4171 1.50788 12.2654 1.15649 13.1499 1.15649C14.0345 1.15649 14.8828 1.50788 15.5082 2.13335C16.1337 2.75882 16.4851 3.60713 16.4851 4.49168C16.4851 5.37623 16.1337 6.22455 15.5082 6.85002L7.84158 14.5083C7.52885 14.8211 7.10469 14.9968 6.66242 14.9968C6.22014 14.9968 5.79598 14.8211 5.48325 14.5083C5.17051 14.1956 4.99482 13.7715 4.99482 13.3292C4.99482 12.8869 5.17051 12.4627 5.48325 12.15L12.5582 5.08335" stroke="#E20613" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">

                            </path>
                          </svg>
                        </p>
                        <div class="allowed">
                          <p>to 3 Mb | pdf / doc / xls</p>
                        </div>
                    </div>
                    
                        <ng-container *ngIf="isUploaded">
                          <div class="remove-file" (click)="deleteImage()">
                            <input [value]="valueByControl('imagePath')" width="100px" alt="">
                          </div>
                          
                        </ng-container>
                      </div>
                      <p>
                        <button class="butn btn-primar"  >
                          <br>
                          <span>Send
                            <input  class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="Send">
                            <span class="wpcf7-spinner"></span>
                          </span>
                          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.0748 6.64166L5.41646 1.55833C3.1248 0.349998 0.633129 2.79166 1.79146 5.10833L3.14146 7.80833C3.51646 8.55833 3.51646 9.44167 3.14146 10.1917L1.79146 12.8917C0.633129 15.2083 3.1248 17.6417 5.41646 16.4417L15.0748 11.3583C16.9748 10.3583 16.9748 7.64166 15.0748 6.64166Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                          <br>
                        </button>
                      </p>
                    </div>
                    <div class="wpcf7-response-output" aria-hidden="true">

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-lg"></div>
</div>
