<div class="section">
    <div class="spacer-sm"></div>
    <div class="container">
    <div class="row justify-content-center text-center">
    <div class="col-lg-10 col-xl-8">
    <h1 class="h1 title title-decor ">
    Public offer contract
    </h1>
    </div>
    </div>
    <div class="spacer-xs"></div>
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
        <div class="text text-lg">
            <p>This Public Offer Agreement is an official and public offer to conclude a contract for the sale of the Goods presented in the Seller's establishments (restaurants) and/or on the website:
            <a [routerLink]="[ '/' ]">https://mapizza.com.ua/</a>.
            The contract is public, i.e. in accordance with Articles 633, 641, 642 of the Civil Code of Ukraine, its conditions are the same for all Buyers regardless of their status (individual, legal entity, individual entrepreneur) without favoring one buyer over another. The fact that the Buyer makes an Order in any oral and/or any electronic form and the Seller receives such an order is a full and unquestionable acceptance of this Agreement, the public offer and the information presented on the website: <a [routerLink]="[ '/ ' ]">https://mapizza.com.ua/</a>. This Public Offer Agreement is deemed concluded from the moment of clicking the "PLACE ORDER" button in the "Cart" section on the website:<a [routerLink]="[ '/' ]"> https://mapizza.com.ua/</ a> or placing an Order by phone and receiving by the Buyer from the Seller (regardless of the order form) confirmation of the Order through the operator of the Seller's call center.
            </p>
            <p><strong>1. GENERAL PROVISIONS AND TERMS.</strong></p>
            <p> 1.1. The purchase of the Goods presented on the Seller's Website implies the agreement of the person who purchases the Goods with the rules, terms, restrictions and other terms of cooperation set forth in the Agreement.</p>
            <p> 1.2. Accepting the terms of this Agreement, the Buyer confirms that:
            </p>
            <ul>
            <li>the information provided when ordering the Goods is correct and up-to-date;</li>
            <li>the provided contact information may be used for the purpose of notifying about changes in work, promotional offers or providing other information related to the activities of the Seller.</li>
            </ul>
            <p><strong><u>If you do not agree with the terms of this Agreement, please do not complete and confirm the Order, do not make a subscription for the Order!</u></strong>
            </p>
            <p><strong><em>If you do not understand the terms of this Agreement, please contact us with your question at the email address: </em></strong>
                <a href="mailto:%20mamaitalianopizza@gmail. com"><strong><em>mamaitalianopizza</em></strong><strong><em>&#64;</em></strong><strong><em>gmail</em></strong><strong ><em>.</em></strong><strong><em>com</em></strong></a><strong><em> or by phone +38 097 18 306 18.</em></strong>
            </p>
            <p>1.3. In this Agreement, the following terms are used in the following meaning:
            </p>
            <p><strong>"Public Offer Agreement"</strong> or <strong>"Agreement"</strong> is this public agreement, a sample of which is posted on the Seller's Website. The Agreement provides for a public offer of the Seller, addressed to any natural person and/or legal entity and/or natural person-entrepreneur for the purpose of concluding a sales contract on the existing conditions specified in the Agreement.
            </p>
            <p><strong>"Product"</strong> is a list of names of the assortment presented on the Seller's Website and/or in the Seller's establishments (restaurants) (MA Pizza).
            </p>
            <p><strong>"Seller"</strong> is a group of MA Pizza restaurants that sell the Goods presented on the Seller's Website and directly in MA Pizza establishments (restaurants).
            </p>
            <p><em>Legal information of the Seller:</em></p>
            <p>INDIVIDUAL ENTREPRENEUR Blinda Nazar Orestovych<br>
                <em>Location: 79000, Lviv, sq. St. Yura, bldg. 7</em>
                <em></em>
            </p>
            <p></p>
            <p><strong>"Buyer"</strong> is an individual or an individual entrepreneur or any other legal entity that has entered into contractual relations with the Seller under the conditions specified in the Agreement.</p>
            <p>
            <strong>"Order"</strong> - individual items from the assortment list of Goods specified by the Buyer when placing an application on the Seller's Website or through the Seller's call center operator or in any other existing way.
            </p>
            <p><strong>"Goods delivery services" </strong>or<strong> "Services"</strong> - direct transfer of the Goods from the Seller to the Buyer at the place specified by the Buyer and agreed by the Seller.</p><p> <em>Note 1: the map of the provision of Goods delivery Services and the delivery time are specified on the Seller's Website.</em>
            </p>
            <p><em>Note 2: Goods delivery services are not provided to locations that are not listed on the Seller's Website as possible delivery locations.</em>
            </p>
            <p><strong>"Seller's website"</strong> is the Seller's website located on the Internet at <a [routerLink]="[ '/' ]">https://mapizza. com.ua/</a>&nbsp; and through which the Seller sells the Goods.
            </p>
            <p><strong>"Parties"</strong> - Seller and Buyer together.</p>
            <p><strong>"Party"</strong> is either the Seller or the Buyer separately from each other.</p><p>&nbsp;</p><p><strong>2. SUBJECT OF THE AGREEMENT.</strong >
            </p>
            <p> 2.1. The Seller sells the Goods selected by him to the Buyer in accordance with the current prices at the time the Buyer places an Order and/or provides Services (in the case of placing an Order for an amount separately determined by the Seller), and the Buyer is obliged to make payment and accept the Goods in accordance with the terms of the Agreement .
            </p>
            <p> 2.2. This Agreement is an official public document prepared by the Seller for the proper registration of legal relations for the purpose of selling the Goods to the Buyer.</p>
            <p>&nbsp;</p>
            <p><strong>3. MOMENT OF CONTRACT CONCLUSION.</strong>
            </p>
            <p> 3.1. The fact of placing an Order through the Seller's Website, as well as with the help of the Seller's call center operator or any other existing method, is an unquestionable acceptance of the terms of the Agreement and the Buyer further acts as a person who has entered into contractual relations. The Buyer is obliged to familiarize himself with the terms of the Agreement, the Seller is not obliged to inform the Buyer about the existence of the Agreement.
            </p>
            <p> 3.2. The moment the Buyer enters into a contractual relationship with the Seller is considered the moment of ordering the Goods, regardless of the method of ordering (including, but not limited to, in person at the Seller's establishment (restaurant), or when ordering the Goods via the phone specified on the Seller's Website, or from the moment clicking the "PLACE ORDER" button in the "Basket" section via the Seller's Website) and payment forms.</p>
            <p> 3.3. The Buyer contacts the Seller independently and of his own volition, which means that the Buyer has read the Agreement and agrees with it.
            </p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>4. ORDER PROCEDURE</strong></p>
            <p> 4.1. The Buyer can place the Order on his own through the Seller's Website or by the phone number indicated on the Seller's Website through the Seller's call center operator.</p>
            <p> 4.2. Orders are accepted by the Seller every day without a break and on weekends during the working hours indicated on the Seller's Website.
            </p>
            <p> 4.3. To place an Order through the Seller's Website, the Buyer must:</p>
            <p> 4.3.1. choose the desired Products presented on the Seller's Website, select their quantity, and click "ORDER", after which the Product will be automatically added to the "Cart" section;</p>
            <p>4.3.2. fill in the data in the relevant electronic order form and choose the method of payment for the Product;</p>
            <p> 4.3.3. after checking the correctness of the selected Goods and entered data, click "Make an order".</p>
            <p> 4.4. The order is considered completed and accepted for execution by the Seller in the following cases:</p>
            <p> 4.4.1. immediately after the Buyer completes the order registration process on the Seller's Website, if the Buyer has selected the option "I can not be called to confirm the order";</p>
            <p> 4.4.2. after the Buyer completes the actions to complete the Order on the Website, if the Buyer has not selected the option described in clause 4.4.1. of the Agreement, the operator of the Seller's call center will contact the Buyer by telephone, clarify the details of the Order, if necessary, and confirm to the Buyer that the Order has been accepted;</p>
            <p> 4.4.3. after the Buyer places an order over the phone, the Seller's call center operator will verbally confirm to the Buyer that the Order has been accepted.</p>
            <p> 4.5. In case the Order is placed by the Buyer in accordance with clause 4.4.1. of the Contract but any Product selected in the Order will not be available or there will be any delays in its preparation or the price of any Product will be different from the price indicated on the Seller's Website, the Seller's call center operator will contact the Buyer to clarification of the Order and its subsequent confirmation or cancellation.</p>
            <p> 4.6. In the event that the operator of the Seller's call center does not confirm to the Buyer that the relevant order has been accepted for work, such an order is considered incomplete and cannot be fulfilled by the Seller.</p>
            <p> 4.7. In the event that the operator of the Seller's call center cannot contact the Buyer after placing the Order through the Seller's Website, such Order will be considered not placed and subject to cancellation.</p><p>The Buyer bears full responsibility for the correctness and reliability of the data, specified by him when placing the Order.</p><p><strong>&nbsp;</strong></p>
            <p><strong>5. PRICE OF GOODS.</strong></p>
            <p>5.1. The prices on the Seller's Website are indicated in the national currency of Ukraine (hryvnias) per unit of the Product in accordance with the existing price list.</p>
            <p>5.2. The Seller reserves the right to change the price of the Goods before the Order is placed without notifying the Buyer.</p>
            <p>5.3. The total price of the Order consists of the sum of the prices for all Goods specified in the confirmed online Order or the Order confirmed by the Seller's call center operator, taking into account the current price of the Goods indicated on the Seller's Website at the time of placing the Order, all taxes and fees, as well as from the price of the Order.</p>
            <p>5.4. The prices indicated on the Seller's Website are indicative.</p><p>&nbsp;</p><p><strong>6. PAYMENT FOR GOODS.</strong></p>
            <p>6.1. In the case of cash payment, the Buyer is obliged to pay the Seller the full price for the Goods at the time of their delivery to the Buyer (payment to the courier) or by cashless payment through a mobile POS terminal when the Buyer receives the Order through the courier, or by making payment using bank cards on the Seller's Website, or online using any other possible electronic payment, unless the agreement between the Parties or the Contract provides otherwise.</p><p>6.2. Payment for the Goods provided by the Seller is made in the national currency of Ukraine (hryvnias) in accordance with the prices and tariffs established at the time of purchase of the Goods.</p>
            <p>6.3. Payment for the Goods provided by the Seller is made in accordance with the information provided on the Seller's Website. Payment is credited only under the condition of compliance with the procedure published on the Seller's Website.</p>
            <p>6.4. In the case of non-payment, incomplete payment or late payment, the Seller reserves the right not to provide the Goods, suspend or completely fail to fulfill the obligations assumed and at the same time is not responsible for the possible consequences of such a decision / actions.</p>
            <p>6.5. Goods and Services are guaranteed and provided only upon confirmation of the Order and receipt of payment by the Seller. Until the payment is received, the Seller has no obligations to the Buyer regarding the Goods ordered by the Buyer.</p>
            <p>6.6. In the case of non-cash payment, the Buyer's obligation to pay the price of the Goods is considered fulfilled from the moment the relevant funds are credited to the Seller's current account.</p>
            <p>6.7. With a non-cash form of payment, the Buyer must present the manager or courier with a document confirming the fact of payment for the Goods, and the manager or courier must confirm the fact of crediting the funds to the Seller's current account.</p>
            <p>6.8. Prices for any item of the Product may be changed unilaterally by the Seller. In the event of a change in the price of the ordered items of the Goods before the payment of the Order, the Seller is obliged to notify the Buyer of such changes as soon as possible. The Buyer has the right to confirm or cancel the Order. If there is no communication with the Buyer, the Order is considered cancelled.</p>
            <p>&nbsp;</p><p><strong>7. DELIVERY OF GOODS.</strong></p>
            <p>7.1. The Buyer has the right to receive the Goods he ordered by means of self-pickup (self-pickup) from the Seller's establishment (restaurant) or to use the Goods delivery Services in case of placing an Order for the amount set by the Seller. The goods can be delivered by the Seller himself or by third parties engaged by him. If it is impossible to contact the Buyer by the phone number specified by him when placing the Order, the Order is considered canceled.</p>
            <p>7.2. Pickup is carried out by the Buyer from the Seller's establishment (restaurant) specified in the Order.</p>
            <p>7.3. Services for the delivery of the Goods to the Buyer are carried out in agreement with the Buyer and at the address indicated by him.</p>
            <p>7.4. Goods delivery services are provided exclusively within the city of Lviv at the time and terms indicated on the Seller's website, unless otherwise provided by prior agreement between the Parties.</p>
            <p>7.5. The delivery of the Goods may be delayed in the event of unforeseen circumstances that are not the fault of the Seller.</p>
            <p>7.6. Delivery of the Order to the Buyer is carried out by the Seller at the address specified in the Order.</p>
            <p>7.7. Upon acceptance of the Order, the Buyer is obliged to check the Product for compliance with the Order and the integrity of the packaging. In the absence of claims to the delivered Goods, the Buyer pays for the Order (if such payment method was chosen by the Buyer). Payment of the Goods by the Buyer indicates that no claims have been made against the Goods and the Seller has fully and properly fulfilled his obligation to transfer the Goods.</p>
            <p>&nbsp;</p>
            <p><strong>8. SALE OF GOODS AND SUPPLY.</strong></p>
            <p>8.1. The involved technical systems (Seller's website) may include undetected technical errors, the consequence of which will be the impossibility of fulfilling the Order, purchasing the Goods or late fulfillment of the Order. In addition, circumstances caused by the human factor or force majeure may lead to the impossibility of fulfilling the Order or its untimely fulfillment.</p>
            <p>>8.2. In case of impossibility or untimely fulfillment of assumed obligations under the circumstances set forth in clause 8.1. (excluding circumstances of force majeure), the Seller is liable within the limits of the amounts received from the Buyer as payment for the Goods.</p>
            <p>8.3. The Seller does not bear and under no circumstances can bear any material responsibility that goes beyond the sums received from the Buyer as payment for the Goods.</p>
            <p>8.4. The place of sale of the Goods is the public catering establishment (restaurant) of the Seller.</p>
            <p>&nbsp;</p>
            <p><strong>9. PRODUCT RETURN PROCEDURE.</strong></p>
            <p>9.1. The buyer has the right to reject received goods of inadequate quality after inspecting them at the time of receiving the goods.</p>
            <p>9.2. In case of rejection of the Goods of inadequate quality, the price of which was paid by the Buyer through non-cash settlement, the Seller will refund the money to the Buyer for the Goods of inadequate quality within 14 banking days.</p>
            <p>&nbsp;</p>
            <p><strong>10. RIGHTS AND OBLIGATIONS OF THE PARTIES.</strong></p>
            <p>10.1. The Seller undertakes not to disclose any private information of the Buyer and not to provide access to this information to third parties, except for cases provided for by the current legislation of Ukraine.</p>
            <p> 10.2. The Seller undertakes to sell the Goods (provided they are available) presented on the Seller's Website under the conditions and in the manner specified in this Agreement.</p>
            <p> 10.3. The Seller reserves the right not to fulfill the Order in case of force majeure.</p>
            <p> 10.4. The seller reserves the right to change the Agreement unilaterally before the moment of its conclusion.</p>
            <p> 10.5. The Seller is not responsible for improper use by the Buyer of Goods ordered through the Seller's Website.</p>
            <p> 10.6. The seller has the right to transfer his rights and obligations for the fulfillment of Orders to third parties.</p>
            <p> 10.7. The Buyer undertakes to familiarize himself with the content of the Agreement, the terms of payment and delivery of the Goods before placing the Order on the Seller's Website.</p>
            <p> 10.8. Ownership of the Order, as well as the risk of its accidental damage or loss, pass to the Buyer from the moment the Goods are handed over to him.</p>
            <p>&nbsp;</p>
            <p><strong>11. LIABILITY OF THE PARTIES</strong></p>
            <p> 11.1. In case of non-fulfillment or improper fulfillment of their obligations under the Agreement, the Parties shall bear the responsibility provided for by the current legislation and this Agreement.</p>
            <p> 11.2. The Seller is not responsible for damage caused to the Buyer as a result of improper use of the Goods purchased by him.</p>
            <p> 11.3. In cases not provided for in this Agreement, the Parties bear the responsibility established by the current legislation of Ukraine.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>12. DISPUTE RESOLUTION PROCEDURE</strong></p>
            <p> 12.1. All disputes that may arise regarding this Agreement or in connection with its implementation shall be resolved by the Parties through negotiations. The pre-trial dispute settlement procedure is mandatory.</p>
            <p>12.2. All disputed issues are considered in the presence of a written claim sent by registered letter by postal means.</p>
            <p> 12.3. In the event that the Parties are unable to reach an agreement on disputed issues through negotiations, these issues are subject to judicial resolution in accordance with the current legislation of Ukraine.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>13. FORCE MAJEURE CIRCUMSTANCES.</strong></p>
            <p> 13.1. The Parties are released from responsibility for non-fulfilment or improper fulfillment of obligations under the terms of the Agreement for the duration of force majeure circumstances that directly affect the Parties' performance of the Agreement. Force majeure means extraordinary and irresistible circumstances that prevent the Parties from fulfilling their obligations under the Agreement. These include natural phenomena (earthquakes, floods, etc.), circumstances of public life (war, declaration of martial law, military operations, other military actions, states of emergency, strikes, epidemics, pandemics, etc.), prohibitory measures of state bodies ( transportation ban, currency restrictions, international sanctions, trade bans, etc.).</p>
            <p>During this time, the Parties have no mutual claims and each of the Parties assumes its own risk due to the consequences of force majeure.</p>
            <p>&nbsp;</p>
            <p><strong>14. INFORMATION AND ITS USE.</strong></p>
            <p>14.1. The Seller, in accordance with the Law of Ukraine "On the Protection of Personal Data", collects and processes the Buyer's personal data (namely: the Buyer's last name, first name, patronymic; delivery address; contact numbers, e-mail address, etc.), and the Buyer gives the Seller his unquestionable consent for the processing and storage of his personal data, for the purpose of:</p>
            <ul>
                <li>implementation of the terms of the Agreement;</li>
                <li>delivery to the Buyer of the Goods ordered by him.</li>
            </ul>
            <p> 14.2. By placing an order for the Product through the Seller's Website, the Buyer consents to the collection and processing of such information.</p>
            <p>14.3. Only persons directly involved in the execution of the Order have access to the Buyer's personal data.</p>
            <p>14.4. The Seller undertakes: to observe the confidentiality of the Buyer's personal data; prevent unauthorized use of the Buyer's personal data by third parties; exclude access to the Buyer's personal data by persons not directly related to the execution of the Order, except for cases provided for by the current legislation of Austria.</p>
        </div>
    </div>
 </div>
 </div>
 <div class="spacer-sm"></div>
</div>