<div class="section">
    <div class="spacer-sm spacer-mobile-off"></div>
    <div class="container banner">
      <div class="banner-align">
        <div class="parallax-bg">
          <div class="bg desktop rellax" data-rellax-speed="-.6" style="background-image: url(&quot;assets/banners/about_us.jpg&quot;); transform: translate3d(0px, -13px, 0px);">
          </div>
          <div class="bg mobile" style="background-image: url(assets/banners/about_us.jpg);">
          </div>
        </div>
        <div class="opacity"></div>
        <div class="row justify-content-center ">
            <div class="col-lg-10 col-xl-8">
              <div class="banner-info">
                <h1 class="h2 title text-center">
                 About us
                </h1>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="spacer-lg"></div>
  </div>
    
  <app-slide-about></app-slide-about>

  <div class="section">
    <div class="container">
      <div class="block-wrapper">
        <div class="block-info">
          <div class="title h2">
            How real Italian pizza is made in Vienna
          </div>
          <div class="text text-lg">
            <p>Italians can cook real Italian pizza, or those who have studied with them. There are no Italians among us, so our task was to learn from the virtuosos of this business. We believe that we succeeded! We are improving every day so that you fall in love with the culinary heritage of Italy even more. Original Italian recipes, imported ingredients, a little imagination and love for our work are our main priorities.
  
            </p>
          </div>
        </div>
        <div class="block-img">
          <img src="assets/about_us/block-img-1.webp" alt="">
        </div>
      </div>
    </div>
    <div class="spacer-lg"></div>
  </div>
  
  <div class="section">
    <div class="container">
      <div class="block-wrapper">
        <div class="block-img">
          <img src="assets/about_us/block-img-2.webp" alt="">
        </div>
        <div class="block-info">
          <div class="title h2">
            A little talent, experience and positivity
          </div>
          <div class="text text-lg">
            <p>Cooking pizza is not a routine, it is a culinary creativity. Our talented pizzaioli cook with love and positivity so that you feel these emotions while biting into each piece of our pizza. Next, couriers get to work, for&nbsp; which any traffic jams will not become an obstacle on the way! Everyone in our team works as best as possible so that you can taste real Italian pizza from MA Pizza again and again.
  
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-lg"></div>
  </div>
  
  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 text-center">
          <div class="title title-decor h2">
            <span>Imported products and pizza with an Austrian soul </span>
          </div>
        </div>
      </div>
      <div class="spacer-xs"></div>
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <div class="text text-lg">
            <div style="width: 3840px;" class="wp-video">
              
              <span class="mejs-offscreen">Video player</span>
              <div id="mep_0" class="mejs-container mejs-container-keyboard-inactive wp-video-shortcode mejs-video" tabindex="0" role="application" aria-label="Video player" style="width: 696px; height: 391.5px; min-width: 217px;">
                <div class="mejs-inner">
                  <div class="mejs-mediaelement">
                    
                    <video class="wp-video-shortcode" id="video-364-1_html5" width="3840" height="2160" preload="metadata" src="assets/about_us/ma-pizza-dostavka-piczy-u-lvovi.webm?_=1" style="width: 696px; height: 391.5px;" controls>
                      <source type="video/webm" src="assets/about_us/ma-pizza-dostavka-piczy-u-lvovi.webm?_=1">
                      <a href="assets/about_us/ma-pizza-dostavka-piczy-u-lvovi.webm">                      
                      </a>
                    </video>
                  
                </div>
                
              </div>
            </div>
          </div>
          <p>MA Pizza is one of the leaders in the market of food importers. We choose the brands ourselves, check the quality of the goods and import them to Ukraine. You can view the entire assortment and make a purchase in our markets.
  
          </p>
          <p>MA Pizza also imports the ingredients for the pizzas prepared by the pizzaiolo in our bakeries. We assure you that all products used for pizza preparation are of the highest quality. For example: we bring tuna for "Tonno", jamon for "Proshuto Crudo" from Spain; tomatoes for Neapolitan sauce, flour for dough - from Italy; we often cooperate with Polish and German producers of products that will taste great in our dishes.
  
          </p>
          <p>We collected recipes in Italy, studied with masters from Naples, to cook for you real pizza in Neapolitan style.
  
          </p>
          <p>Unfortunately, we do not yet deliver orders with drones, but in Lviv traffic, our couriers feel comfortable and deliver pizzas on time.
  
          </p>
          <p>Buon Appetito, our dearest foodies!</p>
          
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-lg"></div>
  </div>
  
  <!-- <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 text-center">
          <div class="title title-decor h2">
            <span>Любов з першого шматочка </span>
          </div>
        </div>
      </div>
      <div class="spacer-xs"></div>
    </div>
    <div class="spacer-lg"></div>
  </div> -->
  
  <app-contact-form></app-contact-form>
  
  
