

@font-face {
  font-family: 'MontBlancBold';  
  src: url('./../../../assets/fonts/montserrat-v26-latin-700.woff2') ; 
}

@font-face { 
  font-family: 'MontBlanc';   
  src: url('./../../../assets/fonts/montserrat-v26-latin-regular.woff2') ; 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap; 
}