<div class="col-12 d-flex justify-center table-width">
    <table class="table table-responsive table-responsive-md table-responsive-sm table-responsive-lg table-responsive-xl">
      <thead class="table-category">
      <tr>
        <th scope="col" class="th-title">№</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Price</th>
      </tr>
      </thead>
  
      <tbody>
        
      <tr *ngFor="let product of favoriteProducts; let i = index">
        <td><b>{{ i+1 }}</b></td>
        <td class="favorite">
          <a [routerLink]="[ '/product/'+ product.category.path,  product?.type_product?.path ? product.type_product.path : 'other', product.id ]">
            {{  product.name }}                                    
          </a>
        </td>
        <td>
          <a [routerLink]="[ '/product/', product.category.path,'' ]">
            {{  product.category.name }}                                    
          </a>
        </td>
        <td (click)="ingredientClick()" *ngIf="!isFullText">{{ product.ingredients| slice:0:75 }} <span *ngIf="product.ingredients">...</span></td>
        <td (click)="ingredientClick()" *ngIf="isFullText">{{ product.ingredients }}</td>
        <td class="status"> <b>{{ product.price }} </b> €</td>
      </tr>
  
      </tbody>
    </table>
  </div>
