<div class="section">
    <div class="spacer-sm"></div>
    <div class="container">
      <ul class="breadcrumbs">
        <li>
        <a  [routerLink]="[ '/' ]">
          <span>
            Main
          </span>
        </a>
      </li>
      <li >
        <a [routerLink]="[ '/product/', currentProduct ? ( currentProduct.category ? currentProduct.category.path : undefined) : undefined, '' ]">
          <span>{{ (currentProduct ? (currentProduct.category ? currentProduct.category.name : undefined) : undefined) | titlecase }}</span>
        </a>
      </li>
      
      <li>
        <span itemprop="name">{{ currentProduct ? currentProduct.name : undefined | titlecase }}</span>
      </li>
      </ul>
      <div class="row">
        <div class="col-sm-6">
          <div class="swiper-entry product_detail-swiper lightbox-wrapper">
            <div class="swiper-container swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events" >
              <div class="swiper-wrapper" style="cursor: default; transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                  <a [href]="currentProduct ? currentProduct.imagePath : undefined" class="product_detail-img lightbox">
                    <img
                        [src]="currentProduct ? currentProduct.imagePath : undefined"
                        class=" img-fluid rounded-start"
                        [alt]="currentProduct ? currentProduct.name : undefined">
                  </a>
                </div>                                    
              </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <div class="swiper-pagination swiper-pagination-relative swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock">
              <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
            </div>
  
            <button class="fav-btn " (click)="buttonFavoriteClick(currentProduct)" [ngClass]="{'active': isFavorite}">
              <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill-anime" d="M10.5167 16.3416C10.2334 16.4416 9.76675 16.4416 9.48342 16.3416C7.06675 15.5166 1.66675 12.075 1.66675 6.24165C1.66675 3.66665 3.74175 1.58331 6.30008 1.58331C7.81675 1.58331 9.15842 2.31665 10.0001 3.44998C10.8417 2.31665 12.1917 1.58331 13.7001 1.58331C16.2584 1.58331 18.3334 3.66665 18.3334 6.24165C18.3334 12.075 12.9334 15.5166 10.5167 16.3416Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
  
          </div>
        </div>
  
        <div class="col-sm-6">
          <div class="product_detail js-product js-product-detail">
            <div class="product_price-top">
              <div class="price_size_wrapper">
                <div class="product_price">
                  <b class="price">  {{  (currentProduct) ? (currentProduct.price*currentProduct.count+ additionPrice*currentProduct.count) :  0 }}</b>
                  <span content="€"> €</span>
                </div>
                <div class="product_size">/ 
                  <span class="size">{{ currentProduct ? currentProduct.weight : undefined }}</span> 
                  g
                </div>
              </div>
  
              <div class="bonus_calculate bonus_calculate_single">
                +{{ currentProduct ? currentProduct.bonus : undefined }} € bonus       
              </div>
            </div>
            <h1 class="product-detail-title title h2">
              <b>{{ currentProduct ? currentProduct.name : undefined | titlecase}}</b>
                <i *ngIf="currentProduct?.type_product">
                  <img src="{{  currentProduct ? ( currentProduct.type_product ? currentProduct.type_product.imgPath : '') : ''  }}" alt="">
                </i>                            
            </h1>
            <div class="description">
              {{ currentProduct ? currentProduct.ingredients : undefined }}                    
            </div>
            <!-- <div class="btn btn-secondary product_plus_modificator" *ngIf="additionProduct.length" (click)="openAdditionDialog()"> -->
              <div class="btn btn-secondary product_plus_modificator" *ngIf="currentProduct?.type_addition?.length" (click)="openAdditionDialog()">
              <span>Add / change components</span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0003 18.3333C14.5837 18.3333 18.3337 14.5833 18.3337 9.99996C18.3337 5.41663 14.5837 1.66663 10.0003 1.66663C5.41699 1.66663 1.66699 5.41663 1.66699 9.99996C1.66699 14.5833 5.41699 18.3333 10.0003 18.3333Z" stroke="#D22730" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M6.66699 10H13.3337" stroke="#D22730" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M10 13.3333V6.66663" stroke="#D22730" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="spacer-xs"></div>
            <div class="free-ing ing_body-additional rec-ing" *ngIf="currentProduct?.type_addition?.length">
              <div class="ing_group inc_calc-group">
                <div class="d-sm-flex justify-content-sm-between">
                  <div class="title h6">We recommend adding</div>
                    <div class="total_ing-prise">The sum of added ingradients:
                      <span><b>{{ display_addition_price }}</b>€</span>
                  </div>
                </div>
                <div class="ing_output" [ngClass]="{'active': isAddition}">
                  <div class="ing_output-inner" *ngFor="let addProduct of additionProduct; let id = index">                  
                      <div class="ing_control">
                        <div class="ing_control-title">
                          {{ addProduct.name }} {{ addProduct ? addProduct.description ? '('+addProduct.description +')': '' : undefined }}
                        </div>
                        <button class="btn-close" (click)="additionDeleteClick(addProduct.name)"></button>                          
                      </div>
                  </div>
                  <button class="ing_output-clean-all" (click)="additionDeleteAllClick()">
                    <b>Clear everything</b>
                    <i></i>
                  </button>
                </div>
                <div class="ing_row">
                  <div class="ingredient" *ngFor="let addition of currentProduct?.type_addition; let id = index" (click)="additionClick(addition.name)">
                    <div class="ingredient_img">
                      <img class="img imgLoaded"
                        [src]="addition ? addition.imagePath : undefined"
                        class=" img-fluid rounded-start">                
                    </div>
                    <div class="ingredient_title">
                      {{ addition ? addition.name : undefined }} {{ addition ? addition.description ? '('+addition.description +')': '' : undefined }}                                                 
                    </div>
                    <div class="ingredient_bottom">
                      <span>{{ addition ? addition.weight : undefined }}  g</span>
                      <span>{{ addition ? addition.price : undefined }}  €</span>
                    </div>
                    <div class="ingredient_action"></div>     
                  </div>
                </div>
              </div>
            </div>
            <div class="product_detail-controls">
              <span>Number:</span>
              <div class="thumb-input-number">
                  <button type="button" class="decrement" (click)="productCount(currentProduct, false)" >-</button>
                  <input class="product-qty" [value]="currentProduct ? currentProduct.count : 1"  readonly="" tabindex="-1">
                  <button type="button" class="increment" (click)="productCount(currentProduct, true)" >+</button>
              </div>
              <div class="product_price-wrap">
                <div class="product_price" itemprop="price">
                  <b class="price mx-2">   {{ (currentProduct) ? (currentProduct.price*currentProduct.count + additionPrice*currentProduct.count) :  0  }}</b>
                  €
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block add-to-cart-btn order-btn " [ngClass]="{'primary': isOrder}" (click)="addToBasket(currentProduct)">
              <span>{{btnName}}</span>
              <i [ngClass]="{'hide': isOrder}">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <div class="spacer-xs"></div>
  <app-slide-product></app-slide-product>
  
  
