@import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';




.banner-slider {
    
    & .swiper-entry{
        position: relative;
    }    

    & .swiper-entry:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/banners/bg-slide.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    display: block;
    }
}

