<div class="map-container">
    <!-- <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
      <map-marker [position]="center" [options]="markerOptions"></map-marker> 
    </google-map> -->
    <h1>Hallo</h1>
  </div>

  <google-map height="450px"
            width="1000px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>
  
<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>

<google-map 
  height="400px"
  width="750px"
  [center]="center"
  [zoom]="zoom"
  mapId="MAP_ID_HERE"
  >
    @for (position of markerPositions; track position) {
     <!--  <map-advanced-marker [position]="position" /> -->
     <map-marker [position]="position" />
    }
</google-map>
  
