<ng-container *ngIf="drinksProducts.length>0">
<div class="section">
  <div class="container">
    <div class="h2 title title-decor">Recommended products</div>
    <div class="swiper-entry products_swiper">
      
      <p-carousel [value]= "drinksProducts" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
          [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item"  >
            <div class="item card">              
              <div class="product js-product type-2">
                <div class="product_image-wrap">
                  <a class="product_image" [routerLink]="[ '/product/', product.category.path , product?.type_product?.path ? product.type_product.path : 'other', product.id ]">
                    <img [src]="product.imagePath" class="img imgLoaded" alt="">
                  </a>
                  <div class="product_top-right">
                    <button class="fav-btn fav-btn-recom" (click)="buttonFavoriteClick(product)" [ngClass]="{'active': isProductFavorite(product)}">
                      <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-anime" d="M10.5167 16.3416C10.2334 16.4416 9.76675 16.4416 9.48342 16.3416C7.06675 15.5166 1.66675 12.075 1.66675 6.24165C1.66675 3.66665 3.74175 1.58331 6.30008 1.58331C7.81675 1.58331 9.15842 2.31665 10.0001 3.44998C10.8417 2.31665 12.1917 1.58331 13.7001 1.58331C16.2584 1.58331 18.3334 3.66665 18.3334 6.24165C18.3334 12.075 12.9334 15.5166 10.5167 16.3416Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product_title-wrap">
                  <div class="product_title">
                    <a  [routerLink]="[ '/product/'+ product.category.path,  product?.type_product?.path ? product.type_product.path : 'other', product.id ]">
                      <b>{{ product.name }}</b>
                      <i>
                        <img [src]="product?.type_product?.imgPath"  alt="">
                      </i>
                    </a>
                  </div>
                </div>
              
              <div class="product_desc">
                <p>{{ product.ingredients }}</p>
              </div>
              <div class="product_controls">
                <div class="product_controls-price">
                  <div class="product_price-wrap">                    
                    <div class="product_price">
                      <b class="price" itemprop="price">{{ product.price }}</b> 
                      <span> €</span>
                    </div>
                    <div class="product_size">/ 
                    <span class="size">{{ product.weight }}</span> 
                    g
                  </div>
                  </div>
                  
                  <div class="bonus_calculate">
                    +{{ product.bonus }} € bonus                 
                  </div>
                </div>                                
                <div class="w-100"></div>            
                <div class="thumb-input-number">
                <button type="button" class="decrement" (click)="productCount(product, false)">-</button>
                <input class="product-qty" value="{{ product.count }}" readonly="" tabindex="-1" max="">
                <button type="button" class="increment" (click)="productCount(product, true)">+</button>
                </div>

                <button class="btn-product order-btn add-to-cart-btn btn-product-info" (click)="addToBasket(product, $event)">
                  <span>{{btnName}}</span>
                    <i>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    </i>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
          
      </p-carousel>
        
    </div>
  </div>
</div>
</ng-container>  


<div class="section">
  <div class="container">
    <div class="h2 title title-decor">Other products from this category</div>
    <div class="swiper-entry products_swiper">
      <ng-container *ngIf="userProducts.length>0">
        <p-carousel [value]= "userProducts" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
          [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item"  >
            <div class="item card">              
              <div class="product js-product type-2">
                <div class="product_image-wrap">
                  <a class="product_image" [routerLink]="[ '/product/', product.category.path , product?.type_product?.path ? product.type_product.path : 'other', product.id ]">
                    <img [src]="product.imagePath" class="img imgLoaded" alt="">
                  </a>
                  <div class="product_top-right">
                    <button class="fav-btn fav-btn-an" (click)="buttonFavoriteClick(product)" [ngClass]="{'active': isProductFavorite(product)}">
                      <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-anime" d="M10.5167 16.3416C10.2334 16.4416 9.76675 16.4416 9.48342 16.3416C7.06675 15.5166 1.66675 12.075 1.66675 6.24165C1.66675 3.66665 3.74175 1.58331 6.30008 1.58331C7.81675 1.58331 9.15842 2.31665 10.0001 3.44998C10.8417 2.31665 12.1917 1.58331 13.7001 1.58331C16.2584 1.58331 18.3334 3.66665 18.3334 6.24165C18.3334 12.075 12.9334 15.5166 10.5167 16.3416Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product_title-wrap">
                  <div class="product_title">
                    <a  [routerLink]="[ '/product/'+ product.category.path,  product?.type_product?.path ? product.type_product.path : 'other', product.id ]">
                      <b>{{ product.name }}</b>
                      <i>
                        <img [src]="product?.type_product?.imgPath"  alt="">
                      </i>
                    </a>
                  </div>
                </div>
              
              <div class="product_desc">
                <p>{{ product.ingredients }}</p>
              </div>
              <div class="product_controls">
                <div class="product_controls-price">
                  <div class="product_price-wrap">                    
                    <div class="product_price">
                      <b class="price" itemprop="price">{{ product.price }}</b> 
                      <span> €</span>
                    </div>
                    <div class="product_size">/ 
                    <span class="size">{{ product.weight }}</span> 
                    г
                  </div>
                  </div>
                  
                  <div class="bonus_calculate">
                    +{{ product.bonus }} € bonus                  
                  </div>
                </div>                                
                <div class="w-100"></div>            
                <div class="thumb-input-number">
                <button type="button" class="decrement" (click)="productCount(product, false)">-</button>
                <input class="product-qty" value="{{ product.count }}" readonly="" tabindex="-1" max="">
                <button type="button" class="increment" (click)="productCount(product, true)">+</button>
                </div>

                <button class="btn-product order-btn add-to-cart-btn btn-product-info" (click)="addToBasket(product, $event)">
                  <span>{{btnName}}</span>
                    <i>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    </i>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
          
      </p-carousel>
      </ng-container>    
    </div>
  </div>
</div>
