<div class="section terms-delivery-sec">
    <div class="spacer-sm"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-xxl-8 text-center">
          <h1 class="title title-decor h1">Delivery and payment</h1>
          <div class="spacer-xs"></div>
          <div class="text text-left text-lg">
            <p>
                MA Pizza has its own courier service that delivers pizza around Vienna. You can place an order on the website or call our call center at +43 (097) 18 306 18. Please check in which delivery zone your address is, as this information depends on how quickly our courier can deliver your order. To receive free delivery from MA Pizza, you need to place an order for a minimum amount of € 50.
            </p>
          </div>
        </div>
      </div>
      <div class="spacer-xs"></div>
      <div class="row justify-content-center">
        <div class="col-xl-10 col-xxl-8">
          <div class="row terms-delivery-row justify-content-center">
            <div class="col-12 col-lg-6">
              <div class="delivery-item green-zone">
                <div class="zone-img">
                  <img src="assets/delivery/green-zone-img.svg" alt="">
                </div>
                <div class="zone-info-wrapper">
                  <div class="title h5">Green zone</div>
                  <ul class="zone-info text">
                    <li>
                        The average delivery time is
                      <strong> &lt; 29 min</strong>
                    </li>
                    <li>
                        Minimum order amount 
                      <strong> 40 €</strong>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="delivery-item green-zone">
                <div class="zone-img">
                  <img src="assets/delivery/yellow-zone-img.svg" alt="">
                </div>
                <div class="zone-info-wrapper">
                  <div class="title h5"> Yellow zone</div>
                  <ul class="zone-info text">
                    <li>
                        The average delivery time is 
                      <strong> &lt; 59 min</strong>
                    </li>
                    <li>
                        Minimum order amount 
                      <strong>50 €</strong>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-xs"></div>
  </div>
  <app-map></app-map>
  <div class="spacer-xs"></div>
  <div class="section terms-delivery-sec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-xxl-8 text-center">
          <h1 class="title title-decor h1">Payment</h1>
          <div class="spacer-xs"></div>
          <div class="text text-left text-lg">
            <p>Currently, MA Pizza offers<strong> 3 payment methods: </strong>online through the LiqPay service, in cash when receiving the order, by card through the terminal when receiving the order. Please notify our manager in advance which payment method&nbsp; it will be convenient for you if the payment is made directly upon receiving the delivery.
            </p>
          </div>
        </div>
      </div>
      <div class="spacer-xs"></div>
      <div class="row justify-content-center">
        <div class="col-xl-10 col-xxl-8">
          <div class="row terms-delivery-row justify-content-center">
            <div class="col-12 col-lg-6">
              <div class="payment-item">
                <div class="payment-img">
                  <img src="assets/delivery/payment-img-1.svg" alt="">
                </div>
                <div class="payment-item-info">
                  <div class="title h5">Cash</div>
                  <div class="text">
                    <p>Pay by cash or card upon receipt by the courier</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="payment-item">
                <div class="payment-img">
                  <img src="assets/delivery/payment-img-2.svg" alt="">
                </div>
                <div class="payment-item-info">
                  <div class="title h5">Courier with terminal</div>
                  <div class="text">
                    <p>Pay online through the LiqPay service or its analogues</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="payment-item">
                <div class="payment-img">
                  <img src="assets/delivery/payment-img-3.svg" alt="">
                </div>
                <div class="payment-item-info">
                  <div class="title h5">Online payment</div>
                  <div class="text">
                    <p>Pay online through the LiqPay service or its analogues</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-lg"></div>
  </div>
  
