<div class="section">
    <div class="spacer-sm spacer-mobile-off"></div>
    <div class="container banner">
      <div class="banner-align">
        <div class="parallax-bg">
          <div class="bg desktop rellax" data-rellax-speed="-.6" style="background-image: url(&quot;assets/vacancy/job-1.webp&quot;); transform: translate3d(0px, 7px, 0px);">
          </div>
          <div class="bg mobile" style="background-image: url(assets/vacancy/job-1.webp);">
          </div>
        </div>
        <div class="opacity"></div>
        <div class="row justify-content-center ">
          <div class="col-lg-10 col-xl-8">
            <div class="banner-info">
              <h1 class="h2 title text-center">
                Vacancies
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-lg"></div>
  </div>
  
  <div class="section vacancy">
    <img class="decor-img rellax" data-rellax-speed="-1" src="assets/decor/decor-5.svg" alt="" style="top: 0px; left: -40px; transform: translate3d(0px, 50px, 0px) scaleX(-1);">
    <img class="decor-img rellax" data-rellax-speed="-1" src="assets/decor/decor-6.svg" alt="" style="bottom: 18%; right: -40px; transform: translate3d(0px, 50px, 0px) scaleX(-1);">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="title title-decor h2">
            <span>Our vacancies</span>
          </div>
        </div>
        <div class="spacer-xs"></div>
      </div>
      <div class="row advantages-row hide-on-mobile justify-content-center">
        <div class="col-xl-3 col-sm-6">
          <div class="benefits-item type-2">
            <div class="benefits-img">
              <img src="assets/benefits/benefits-1.svg" alt="assets/benefits/benefits-1.svg">
            </div>
            <div class="title h5">
                A great start to a career
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="benefits-item type-2">
            <div class="benefits-img">
              <img src="assets/benefits/benefits-2.svg" alt="assets/benefits/benefits-2.svg">
            </div>
            <div class="title h5">
              Contacts
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="benefits-item type-2">
            <div class="benefits-img">
              <img src="assets/benefits/benefits-3.svg" alt="assets/benefits/benefits-3.svg">
            </div>
            <div class="title h5">
                Flexible work schedule
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="benefits-item type-2">
            <div class="benefits-img">
              <img src="assets/benefits/benefits-4.svg" alt="assets/benefits/benefits-4.svg">
            </div>
            <div class="title h5">
                Regular payments
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-entry hide-on-desktop">
        <div class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight" data-options="{&quot;slidesPerView&quot;:1, &quot;spaceBetween&quot;:12, &quot;autoHeight&quot;:true, &quot;loop&quot;:true}">
          <div class="swiper-wrapper">
            <ngb-carousel>	                
              <ng-template ngbSlide> 
              <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" >
              <div class="benefits-item type-2">
                <div class="benefits-img">
                  <img src="assets/benefits/benefits-1.svg" alt="">
                </div>
                <div class="title h5">
                    A great start to a career
                </div>
              </div>
              </div>
              <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              <ng-template ngbSlide> 
                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" >
              <div class="benefits-item type-2">
                <div class="benefits-img">
                  <img src="assets/benefits/benefits-2.svg" alt="">
                </div>
                <div class="title h5">
                  Contacts
                </div>
              </div>
                </div>
                <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              <ng-template ngbSlide> 
                <div class="swiper-slide" data-swiper-slide-index="2" >
                  <div class="benefits-item type-2">
                    <div class="benefits-img">
                      <img src="assets/benefits/benefits-3.svg" alt="">
                    </div>
                    <div class="title h5">
                        Flexible work schedule
                    </div>
                  </div>
                </div>
                <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              <ng-template ngbSlide> 
                <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="3" >
                  <div class="benefits-item type-2">
                    <div class="benefits-img">
                      <img src="assets/benefits/benefits-4.svg" alt="">
                    </div>
                    <div class="title h5">
                        Regular payments
                    </div>
                  </div>
                </div>
                <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              
            </ngb-carousel> 
            </div>
           
           <!--  <span class="swiper-notification" aria-live="assertive" aria-atomic="true">
  
            </span> -->
          </div>
        </div>
        <div class="spacer-xs"></div>
        <div class="row vacancy-row">
          <div class="col-12 col-md-6" *ngFor="let vacancy of userVacancy; let id=index">
            <div class="vacancy-item">            
              <a class="vacancy-img" [routerLink]="[ '/vacancy', vacancy.id ]">          
                <img  [src]="vacancy.imagePath" alt="">
              </a>
              <div class="title h5 text-cut-2">            
                <a [routerLink]="[ '/vacancy', vacancy.id ]">
                  {{ vacancy.name }}                                    
                </a>
            </div>
            <div class="text text-cut-2">
              <p>            
                {{ getDescription(vacancy.description) | slice:0:120 }} <span *ngIf="vacancy.description.length > 120">...</span>
              </p>
            </div>
          </div>
        </div>      
      </div>
    </div>
    <div class="spacer-lg"></div>
  </div>
  
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="title title-decor h2">
            <span>Work with us!</span>
          </div>
        </div>
        <div class="spacer-xs"></div>
      </div>
      <div class="row advantages-row hide-on-mobile justify-content-center">
        <div class="col-xl-3 col-sm-6">
          <div class="advantages-item">
            <div class="advantages-img">
              <img src="assets/vacancy/druzhnij-kolektyv.webp" alt="">
            </div>
            <div class="advantages-info">
              <div class="title h5">Friendly staff</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="advantages-item">
            <div class="advantages-img">
              <img src="assets/vacancy/advantages-img-2.webp" alt="">
            </div>
            <div class="advantages-info">
              <div class="title h5">Real career growth</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="advantages-item">
            <div class="advantages-img">
              <img src="assets/vacancy/work_pay.webp" alt="">
            </div>
            <div class="advantages-info">
              <div class="title h5">Hourly paid work</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="advantages-item">
            <div class="advantages-img">
              <img src="assets/vacancy/ma-pizza.webp" alt="">
            </div>
            <div class="advantages-info">
              <div class="title h5">Flexible work schedule</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-entry hide-on-desktop">
        <div class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight" data-options="{&quot;slidesPerView&quot;:1, &quot;spaceBetween&quot;:12, &quot;autoHeight&quot;:true, &quot;loop&quot;:true}">
          <div class="swiper-wrapper" id="swiper-wrapper-abad1a7dd101fb65e" aria-live="polite" >
            <ngb-carousel>	                
              <ng-template ngbSlide> 
              <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" >
                <div class="advantages-item">
                  <div class="advantages-img">
                    <img src="assets/vacancy/druzhnij-kolektyv.webp" alt="assets/vacancy/druzhnij-kolektyv.webp">
                  </div>
                  <div class="advantages-info">
                    <div class="title h5">Friendly staff</div>
                  </div>
                </div>
              </div>
              <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              <ng-template ngbSlide> 
              <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" >
                <div class="advantages-item">
                  <div class="advantages-img">
                    <img src="assets/vacancy/advantages-img-2.webp" alt="assets/vacancy/advantages-img-2.webp">
                  </div>
                  <div class="advantages-info">
                    <div class="title h5">Real career growth</div>
                  </div>
                </div>
              </div>
              <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              <ng-template ngbSlide> 
              <div class="swiper-slide" data-swiper-slide-index="2" >
                <div class="advantages-item">
                  <div class="advantages-img">
                    <img src="assets/vacancy/work_pay.webp">
                  </div>
                  <div class="advantages-info">
                    <div class="title h5">Hourly paid work</div>
                  </div>
                </div>
              </div>
              <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              <ng-template ngbSlide> 
              <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="3" >
                <div class="advantages-item">
                  <div class="advantages-img">
                    <img src="assets/vacancy/ma-pizza.webp" alt="assets/vacancy/ma-pizza.webp">
                  </div>
                  <div class="advantages-info">
                    <div class="title h5">Flexible work schedule</div>
                  </div>
                </div>
              </div>
            
              <button type="button" class="carousel-control-prev">
                        <span aria-hidden="true" class="carousel-control-prev-icon">
                        </span>			
                        <span class="visually-hidden">Previous</span>
                    </button>
              </ng-template> 
              </ngb-carousel> 
          </div>
          
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
      </div>
    </div>
    <div class="spacer-lg"></div>
  </div>
  
  <app-contact-form></app-contact-form>
  
