@import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';


.content {
    min-height: calc(100% - 104px);
    overflow-x: hidden;
}

.header {
    width: 100%;
    padding: calc(8px * 4) 0 8px;
    position: relative;
}

.header__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: #3b4256;
    animation: .4s both head;
    transition-timing-function: cubic-bezier(.25,.1,.25,1);
}

.header__bg:before {
    content: "";
    display: block;
    position: absolute;
    height: 100px;
    right: -20px;
    bottom: -50px;
    left: -20px;
    border-radius: 50%;
    background: #3b4256;
    z-index: 1;
}

.header .container {
    position: relative;
    z-index: 2;
}

.container {
    max-width: 375px;
    padding: 0 calc(8px * 2);
    margin: 0 auto;
}

.employee {
    display: flex;
    padding-bottom: calc(8px * 2);
    border-bottom: 1px solid rgba(255,255,255,.15);
    animation: .4s .1s both admin-name;
    transition-timing-function: cubic-bezier(.25,.1,.25,1);
}

.employee__photo {
    display: block;
    object-fit: fill;
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

.employee__descr {
    margin-left: calc(8px * 2);
}

.employee__descr__name {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: $clr-white;
}

.employee__descr__position {
    font-size: 12px;
    opacity: .5;
    margin: 0;
    padding: 0;
    color:  $clr-white;
}

.message-to-user {
    color:  $clr-white;
    animation: 350ms 150ms both admin-msg;
    transition-timing-function: cubic-bezier(.25,.1,.25,1);
}

.message-to-user__text {
    position: relative;
    padding-left: calc(8px * 2);
}

.message-to-user__text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    display: block;
    width: 8px;
    height: 8px;
    background: $clr-secondary;
    border-radius: 50%;
}

.message-to-user__required {
    font-size: 12px;
    margin: 0 0 8px;
    padding: 0;
    color: $clr-white;
    opacity: .5;
}

.container-form {
    max-width: 375px;
    padding: 0 calc(8px * 2);
    margin: 35px auto;
}

.rating-card {
    position: relative;
    padding: calc(8px * 3)+15px;
    margin-bottom: calc(8px * 3);
    animation: .4s .1s both card-move;
    min-height:430px;
    height: 100%;
}

.rating-card:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 11px 0 rgb(50 50 50 / 16%);
    background: $clr-white;
    border-radius: 12px;
    animation: .4s .1s both animate-opacity;
    /* height: 260px; */
}

h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    color: #3b4256;
    letter-spacing: .3px
}

.card-block{
    position: absolute;
    width: 77%;
}
.rating-card__title {
    animation: .3s .2s both card-title;
    
}

.error-text {
    position: relative;
    color: $clr-primary;
    font-size: 12px;
    opacity: 0;
    text-align: center;
   
}

.rating-card__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
   
}

.rating-card__list__item {
    flex-basis: 25%;
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    animation: .4s linear .1s both star;
}

.rating-card__list__item:nth-child(1) {
    animation-delay: .1s;
}

.comment {
    animation: .4s .1s both animate-opacity;
    transition-timing-function: cubic-bezier(.25,.1,.25,1);
}

.textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #f93e56 ;
    resize: none;
    font-size: 14px;
    color: #777c88;
    outline: 0;
    border-radius: 0;
    height: 32px;
    min-height: 28px; 
    overflow: hidden; 
}

.comment__field {
    margin-top: calc(8px * 3);
}

.comment .error-text {
    text-align: left;
}

.file_name {
    white-space: break-spaces;
    font-size: 12px;
}

.btn:before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: calc(8px * 2);
    background-image: url(/assets/icons/arrow-icon.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.submit__description {
    margin: 0;
    font-size: 10px;
    padding: 8px 0 0;
}
a {
    color: #777c88;
}

.btn {
    display: block;
    width: 100%;    
    line-height: 56px;
    background: 0 0;
    border: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-radius: 7px;
    font-size: 18px;
    text-align: center;
    letter-spacing: .5px;
    // background-image: linear-gradient(to left,#f93e56 0,#fe6561 100%);
    background-color: $clr-secondary;
    box-shadow: 0 2px 6px 0 rgb(50 50 50 / 16%);
    transition: .4s;
}

.star {
    cursor: pointer;
}

.filled {
  color: orange;
}
.fill{
    fill: orange;  
}

.rating-card__list__item svg {
    width: 56px;
    height: 54px;
}
.form-control {
    font-size: 0.8em;
}

.btn-exit:hover {
    border-color: $clr-primary; 
    background-color: $clr-primary;
}

.btn-exit{   
    @include btn-exit;
    height: 35px;
    margin: 0;
}

.img-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.terms{
    font-style: italic;
    text-decoration: underline !important;
    font-weight: 600;

    &:hover{
        text-decoration: none !important;
    }
}
